@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border-style: none;
	min-height: 100%;
	background-image: linear-gradient(45deg,black, rgb(191, 235, 191));
}

body {
	line-height: unset !important;
    text-align: center;
}

@media only screen and (max-width:799px) {
	#header {
		height: auto;
		padding: 8px 20px;
	}

	#header a {
		font-size: large;
	}

	#header>div {
		max-width: 100%;
		width: auto;
		padding: 0;
	}
}

#lcol {
	display: inline-block;
	vertical-align: top;
	width: 650px;
	padding-right: 10px;
}

#doc {
	padding: 0px;
	margin-left: 30px;
}

#rcol {
	padding: 20px 0px 10px 0px;
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

@media only screen and (max-width: 799px) {
	#nav {
		margin-top: 0;
	}

	#lcol {
		width: 100%;
		padding-right: 0;
	}

	#rcol {
		margin-left: 0px;
		width: 100%;
		padding: 20px 0;
	}

	#ban-ad {
		margin: 30px auto;
		width: 300px;
	}

	.adslot_2 {
		display: none;
	}

	.adslot_3 {
		width: 300px;
		height: 250px;
		margin: auto
	}
}

@media only screen and (max-width: 799px) and (orientation: portrait) {
	.adslot_1 {
		max-width: 100%;
		height: 100px;
	}
}

@media only screen and (max-width: 799px) and (orientation: landscape) {
	.adslot_1 {
		max-width: 320px;
		height: 50px;
	}
}

@media only screen and (max-width: 799px) and (orientation: portrait) {
	.adslot_3 {
		margin-left: -10px
	}
}

#rcol li {
	margin-left: -11px;
}

#wrapper H1,
H2,
H3 {
	font-weight: normal;
}

H1 {
	margin-bottom: 4px;
	padding-bottom: 0px;
	color: #000000;
}

H1 {
	font-size: 1.8em;
	margin-top: 0;
}

H2 {
	font-size: 1.4em;
	letter-spacing: 0px;
	margin-top: 10px;
	margin-bottom: 3px;
}

H3 {
	font-size: 1.4em;
	letter-spacing: 0px;
	margin-top: 10px;
	margin-bottom: 3px;
}

H4 {
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 2px;
	font-weight: bold;
}

H5 {
	font-size: 0.9em;
	margin-top: 5px;
	margin-bottom: 2px;
	font-weight: bold;
}

H6 {
	font-size: 1.1em;
	color: #333333;
	font-weight: normal;
	font-style: italic;
	margin-top: 3px;
	margin-bottom: 0px;
}

#rcol H5 {
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 2px;
	background: #e0e0e0;
	padding: 5px 5px 5px 10px
}

input {
	font-size: 1em;
}

@media only screen and (max-width:799px) {
	.btn {
		font-size: 1.2em;
		padding: 7px;
	}
}

@media only screen and (min-width:799px) {
	.btn {
		font-size: 1.2em;
		padding: 4px;
	}
}

.intext {
	background: #ffffff;
	padding-left: 3px;
	border: 1px inset #eee
}

.outtext {
	background: #e0f0e0;
	padding-left: 3px;
	border: 1px solid #ccc
}

a:link {
	text-decoration: none;
	color: #083d8d;
}

a:visited {
	text-decoration: none;
	color: #083d8d;
}

a:active {
	text-decoration: underline;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

a:focus {
	outline: none;
}

.math {
	font-family: "Times New Roman";
	font-size: 1.6em;
	padding-left: 6px;
	font-weight: normal;
}

.mathsymbol {
	font-family: "Times New Roman";
	font-size: 1.2em;
	font-weight: normal;
}

.text {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em
}

.code {
	font-family: "Courier New";
	font-size: 1.0em;
	padding-left: 6px;
}

.codebg {
	font-family: "Courier New";
	font-size: 1.0em;
	color: #000;
	background: #f0f0f0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
}

.codebg.p {
	font-family: "Courier New";
	font-size: 1.0em;
	color: #000;
	background: #f0f0f0;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.code {
	font-family: "Courier New";
	font-size: 1.0em;
	color: #000;
	background: #f0f0f0;
	margin: 0px;
	padding: 5px;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	line-height: 20px
}

p.wcode {
	font-family: "Courier New";
	font-size: 1.0em;
	color: #000
}

p.tcode {
	font-family: "Courier New";
	font-size: 1.0em;
	color: #000;
	background: #f0f0f0;
	margin: 0px;
	padding: 5px;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	line-height: 20px
}

.table1 .hov {
	border: 2px black solid;
	padding: 4px;
}

.table1 .ho2 {
	border: 2px #707070 solid;
	padding: 4px;
}

.table1 .td {
	border: 1px black solid;
	padding: 5px;
}

table.dtable,
table.ntable {
	border: 1px #ccc solid;
	border-collapse: collapse;
	padding: 5px;
}

table.dtable th,
table.dtable td,
table.ntable th,
table.ntable td {
	border: 1px #ccc solid;
	border-collapse: collapse;
	padding: 5px;
	font-weight: normal;
}

table.dtable th,
table.ntable th {
	text-align: center
}

table.ntable td {
	text-align: right
}

/*table.calc, .calc2 {*/
.calc,
.calc2 {
	border-spacing: 0px;
	border-collapse: separate;
	background: #e8e8e8;
	border: 1px #ddd solid;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

table.calc td,
.calc2 td {
	padding: 2px;
	border-width: 0px;
	border-style: none;
	background: #e8e8e8;
}

.calc2 select {
	padding: 4px 2px;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif
}

@media only screen and (max-width: 577px) {
	.calc2 {
		padding: 8px;
		margin-left: auto;
		margin-right: auto;
	}

	.calc2 td {
		float: left;
	}

	.calc2 td:nth-child(2) {
		clear: left;
	}

	.calc2 tr td:nth-child(3) {
		padding-top: 10px;
	}

	.calc2 input[type=text],
	.calc2 input[type=number],
	.calc2 input[type=url] {
		width: 190px;
		font-size: x-large;
		padding-left: 3px;
	}

	.calc2 tr td:nth-child(3) select {
		margin-top: -8px;
	}
}

@media only screen and (min-width: 577px) {
	.calc2 {
		padding: 15px;
	}

	.calc2 tr {
		line-height: 40px;
	}

	.calc2 input[type=text],
	.calc2 input[type=number],
	.calc2 input[type=url] {
		width: 220px;
		font-size: x-large;
		padding-left: 3px;
	}
}

@media all and (max-width:1000px) {

	#banokbtn {
		margin-left: 0;
	}
}

